body{
   background-image:url("background.png");
   background-repeat: repeat-x;

   text-align: center;

 }




 #t,#p{
      background-color: white;
      opacity: 1;
      border: 2px black;
      text-align : center;
      color:green;

}
#s,#r{
    background-color: lightblue;

}
