body{
   background-color:lightblue;
   text-align: center;
 }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #800080;
  }
  .container {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 350px;
    height:550px;
    padding-top:20px;
    padding-left:70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: cursive;
    color:rgb(239 158 7);
    font-size: large;
    
      border-radius: 39px;
      background: #800080;
      box-shadow:  5px 5px 0px #330033, 
               -5px -5px 0px #cd00cd;
  }
  

 #t,#p{
      text-align : center;
      color:red;
}
 
